  
{
    "presets":  ["next/babel"],
    "plugins": [
      ["import", {
        "libraryName": "antd-mobile",
        "style": "css"
      },"ant-m"],
      ["import", {
        "libraryName": "antd",
        "style": "css"
      },"ant"]
    ]
  }